<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261800366970-mrvgshheehlfc7tk6irpbm7rt48lgsq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261800366970-mrvgshheehlfc7tk6irpbm7rt48lgsq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>261800366970-u40fq1sptrekq1pran6f96336u1n1fjv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNIwcn70kr_UxiUVZ4zbgc_4gBL5ZvoNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>261800366970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>fyp-flora</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-flora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261800366970:ios:dc9c8628320a7ce92b7cc3</string>
	<key>DATABASE_URL</key>
	<string>https://fyp-flora.firebaseio.com</string>
</dict>
</plist>